@media only screen and (max-width: 1200px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .container article img{
    width: 100%;
    height: 406px;
    }
    .container article h1{
        font-size: 56px;
    }
    .owl-carousel.owl-drag .owl-item{
        display: flex;
        justify-content: center;
    }
    .footer_box_1 {
        gap:17px;
    }
    .footer_box_1 article input{
        margin-right: auto;
        width: 338px;
}
.container article img{
    width: 100%;
    height: 330px;
}
.categories .left_sidebar{
        max-width: 250px;
    }
.list_1{
    min-height:400px;
}
.left_sidebar img{
    width: 300px;
    height: 100%;
    margin-left: -23px;
}

/*  element.style {
}
.categories .right_content article {
    width: 258px;
    border-top: solid 1px transparent;
    position: relative;
}*/
    .flex_2 article {
        margin-bottom: 19px;
    }

    .blog .container{
        display: inline-block;
    }
    .categories .pagination{
        margin-right:60px ;
    }
    .footer_box_1 article img{
        width: 100%;
        height: 96px;

    }
    .footer_box_1 article{

    }
    }

@media only screen and (max-width: 1120px) {
    .categories .right_content {
        width: 544px;
    }
    .categories .right_content .flex_2{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 840px) {
    header nav li{
        gap: 25px;
    }
    .banner .container img {
        width: 100%;
        height: 266px;
    }
    .container article h1{
        font-size: 40px;
    }
    .container article h4{
        font-size: 12px;
    }
    .container article img{
        width: 100%;
        height: 277px;
    }
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .container article p{
        font-size: 12px;
    }
    .categories .container{

    }
    .categories .left_sidebar .list_1{

    }
    .left_sidebar li a{
        line-height: 216%;
    }
    .categories .left_sidebar {
        max-width: 242px;
    }
   /* .left_sidebar img {
        width: 100%;
        height: 390px;
        margin-left: -23px;
    }*/
    .left_sidebar img{
        width: 300px;
        height: 100%;
        margin-left: -23px;
    }
    .categories .right_content {
        width: 544px;
    }
    .flex_2 article {
        margin-bottom: 20px;
    }
    .blog .container {
        display: inline-block;
    }
    .blog .container img{
    width: 100%;
    height: 320px;
}
    .categories .pagination ul{
        margin-right: 67px;
    }
    .blog_2{
        height: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
    .owl-carousel.owl-drag .owl-item{
        display: flex;
        justify-content: center;
    }
    .footer_box_1 {

    .footer_box_1 article img{

    }
}

@media only screen and (max-width: 767px) {
    header nav{
    display: none;
}
    article h1{
        font-size: 37px;
    }
    .container article img{
        width: 100%;
        /*display: block;*/
    }
    .container article h4{
        font-size: 10px;
    }
    .container article p{
        font-size: 9px;
    }
    .banner .container img {
        width: 100%;
        height: 266px;
    }
    .blog h2{
        font-size: 15px;
        margin-left: 78px;

    }

    .blog .container article{
        flex-direction: column;
    }
    .footer_box_1{

    }
    .footer_box_1 article img{

    }
}
   /* @media only screen and (max-width: 809px) {
        .banner .container img {
            width: 100%;
            height: 266px;
        }
    }
*/
@media only screen and (max-width: 540px) {
    .container article h1{
        font-size: 25px;
    }
    .container article h4{
        font-size: 10px;
    }
    .container article p{
        font-size: 9px;
    }
    .banner .container img{
        width: 100%;
        height: 266px;
    }
    .banner .container article a{
        width: 96px;
        height: 28px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    header .container .logo img{
        width: 100%;
        height: 25px;

    }
    header .login{
        font-size: 10px;
        height: 25px;
        padding-right: 13px;
    }
    .categories .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .blog .container article{
        flex-direction: column;
    }

}



@media only screen and (max-width: 1200px) {

}