
/*!*иконки*!


.banner .container {
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

.banner article {
    !*max-width: 557px;*!
    display: inline-block;
    margin-right: 93px;
    padding-left: 43px;
    box-sizing: border-box;
}

article h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 17px;
    font-family: 'cera_promedium';
}

h1 span { !*переносит текст на новую строку??*!
    color: #46a358;

}

.container h1 {
    margin-bottom: 17px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack';
}

.container p {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';
}
!*кнопка*!
.banner .container article a {
    background: #46a358;
    border-radius: 6px;
    !*width: 140px;*!
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'cera_probold';
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
}
@keyframes bouncing{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}
.banner .container article a:hover{
    transition: .8s;
    background-color: darkslateblue;
}

.banner .container img {
    width: 518px;
    height: 470px;
}*/



/*Секция Категории*/

.categories .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    border-bottom: none;
    align-items: flex-start;
}

/*левое меню*/

.categories .left_sidebar{
    max-width: 310px;
    border-bottom: none;
    background: #fbfbfb;
    margin-top: 27px;
}
.left_sidebar  li{
    list-style: none;

}
.left_sidebar li a{
    text-decoration: none;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 267%;
    font-size: 15px;
    line-height: 267%;
    margin-left: 30px;
    font-family: 'cera_proregular';
}
.left_sidebar li:hover a{
    color: #46a358;
    font-family: 'cera_probold';
}

.list_1{
    list-style: none;
    min-height: 774px;
}
.left_sidebar h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-left: 18px;
    margin-top: 14px;
    margin-bottom: 7px;
    font-family: 'cera_probold';
}
.left_sidebar img{
    width: 370px;
    height: 470px;
    margin-left: -30px;
}

/*правое меню*/

.categories .right_content{
    width: 840px;
    margin-top: 27px;
}
.categories .right_content article:hover{
    border-top:solid 1px #46A358;
}
.categories .right_content .flex_2 .list_2{
    display: flex;
    justify-content: space-between;
}

.categories .list_2 {
    list-style: none;
}

.categories .right_content .list_2 li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .right_content .list_2 li:hover a{
    color: #46a358;
    font-family: 'cera_probold';
}
.list_2 li a{
   display: inline;
    margin-right: 37px;
}
.list_2 li:last-of-type {
    margin-right: 0;
}

.list_2 li:after {
    height: 3px;
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 7px;
    transition: 0.3s;

}

/*нижнее подчеркивание списка*/
.list_2 li:hover:after {
   /* background-color: #46a358;*/
    border: 2px solid #46a358;
    width: 65px;
    height: 0px;
}
/*.list_2 li:hover{
    background-color: #46a358;
}*/

.list_2 p{
    font-family: 'cera_proregular';
}

.categories .right_content article{
    width: 258px;
    border-top:solid 1px transparent;
    position: relative;
}
.categories .right_content .flex_2 {
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}
.flex_2 article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_proregular';
}
.flex_2 .price{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_probold';
}
/*відступи*/
article img{
    margin-bottom: 12px;
}
.flex_2 article{
    margin-bottom: 70px;
}
/*скидка (position)*/
.categories .right_content article .sale{
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #46A358;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;

}
/*старая цена*/
.categories .right_content article .price_sale{
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    display: inline-block;
    margin-left: 16px;
    font-family: 'cera_proregular';
    /*text-decoration: line-through; зачеркнуть текст*/
    position: relative;
}
/*линия на текст*/
.categories .right_content article .price_sale:after{
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    background-color: #46A358;
  /* border: 1px solid #cbcbcb;
    width: 65px;
    height: 0px;*/
    width: 100%;
    top:8px;
}

/*иконки в article*/
.categories .right_content article ul{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 67px;
    width: 125px;
    /*height: 35px;*/
    left: calc(50% - 62px);
    justify-content: space-between;
    opacity: 0; /*Прозрачность*/
    transition: 0.4s;
}
.categories .right_content article ul li{
    width: 20px;
    height: 20px;

}
.categories .right_content article:hover ul{
    opacity: 1;
}
.categories .right_content article ul a:hover svg path{
    stroke: #46A358!important;
}

/*пеереход по страницам*/
.categories .pagination{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 82px;
    margin-top: 90px;
}
.categories .pagination ul{
    display: flex;
    justify-content: space-between;

}
.categories .pagination ul li{
    list-style: none;
    margin-left: 10px;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    overflow: hidden; /*убираем лишнее (уголки иконок)*/
}
.pagination .pages a{
    text-decoration: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'cera_prolight';
}
/*Добавление стрелки на кнопку*/
.categories .pagination ul li:last-of-type:hover a svg path{
stroke: white!important;
   /* content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../Images/Right2.svg");*/
}

.categories .pagination ul li:hover{
    background-color: #46a358;
}
.categories .pagination ul li:hover a{
    color:#ffffff;
}

.categories .pagination ul li:last-of-type {
   display: inline-block;
    position: relative;
    animation: slideright 1s infinite;
}

@keyframes slideright {
    0%{
        left:0;
    }
    100%{
        left:50px;
        box-shadow: #0000ff; 0 7px 29px 0; /*тень*/
    }
}


/*нижний blog*/
.blog{
    min-width: 1200px;
    margin-bottom: 138px;
}

.blog .container{
    display: flex;
   
    justify-content: space-between;
    border-bottom: none;
}

.blog .container article{
   min-width: 586px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    /*margin-bottom: 138px;*/
}
.blog .container article img{
    background: #fbfbfb;
    width: 287px;
    height: 292px;
}
.blog_2 .flowers article .read{
    background: #fbfbfb;
    height: 148px;
    margin: 9px 13px;
    text-align: left;
}

.blog article .text_blog{
    text-align: right;
    margin-top: 37px;
    margin-right: 35px;
}
.blog h2{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-left: 116px;
    margin-bottom: 9px;
    font-family: 'cera_problack';
}
.blog p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
    font-family: 'cera_proregular';
}
.blog .img{
    width: 289px;
    height: 287px;
}
.blog article a{
    text-decoration: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-family: 'cera_promedium';
}
.blog article a:hover{
    transition: .8s;
    background-color: darkslateblue;
    cursor: pointer;
}
.blog article a svg{
    margin-left: 5px;
}

.blog_2{
    max-width: 1200px;
    margin: auto;
    height: 447px;
    margin-bottom: 100px;
}
.text_blog_2{
    text-align: center;
    margin-bottom: 35px;
}
.blog_2 .flowers{
    display: flex;
    justify-content: space-between;
}
.blog_2 article{
    background: #fbfbfb;
    margin-right: 34px;
}
.blog_2 h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 15px;
}
.blog_2 .read .september{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
    margin-top: 8px;

}

.blog_2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
   /* margin-bottom: 35px;*/
    margin-bottom: 9px;
    font-family: 'cera_proregular';
}
.blog_2 h3{
    margin-right: 53px;
    margin-bottom: 4px;
}
.blog_2 article a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
}
.blog_2 article a:hover{
    color: #46a358;
}
.blog_2 article:hover a svg path{
    stroke: #46a358!important;

}

.blog_2 article a svg{
    position: relative;
    top: 5px;
}

.blog_2 article img{
    margin-bottom: 0px;
}

/*footer{
    width: 1200px;
    height: 610px;
}*/
footer .container{
    border-bottom: none;
    flex-wrap: wrap;
    border-top: none;
}
.footer_box_1 {
    background: #fbfbfb;
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
    padding-bottom:24px;
}
.footer_box_1 article img{
    margin-bottom: 0px;

}
.footer_box_1 article{
   /* margin-top: 24px;
    margin-left: 25px;*/
    position: relative;
    left: 25px;
    top: 24px;
    min-width: 204px;
    min-height: 203px;
   /* border-right: solid 1px grey;*/
}
.footer_box_1 article span img{
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    width: 187px;
    height: 1px;
    position: relative;
    left:122px;
    bottom:138px;
}

footer .container .footer_box_1 p{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 24px;
}
footer .container .footer_box_1 h3{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
    margin-top:15px;
    font-family: 'cera_probold';
}

margin-top: 37px;
padding-top: 13px;

/*
Кнопка*/

.footer_box_1 article button{
    background: #46a358;
    box-sizing: border-box;
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
    padding: 12px 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
}
.footer_box_1 article button {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 26px;
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 43px;
    position: absolute;
    top: -12px;
    right: 0;
    bottom: 0;
    border:none;
    cursor:pointer;

}

button:hover{
    transition: .8s;
    background-color: darkslateblue;
}


label{
    position: relative;
}

.footer_box_1 article input{
    border: none;
    border-radius: 6px;
    width: 354px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    margin-bottom: 18px;
    margin-right: 25px;
    margin-top: 25px;
    font-family: 'cera_proregular';
}

.footer_box_1 article .usually_post{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    margin-right: 28px;
    margin-bottom: 25px;

}
.footer_box_2{
    width: 1200px;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 132px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}
.footer_box_2 img{
    width: 150px;
    height: 34px;
    margin-left: 23px;
}
.footer_box_2 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    margin-left: 5px;
    margin-right: 22px;
    font-family: 'cera_proregular';
}
.footer_box_2  svg{
    width: 20px;
    height: 20px;
    position: relative;
    top:6px;
}

.footer_box_2 a .contact{
    margin-left: 9px;
}
.footer_box_3{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 236px;
    background: #fbfbfb;
    margin-top: auto;
    padding: 33px 25px;
    border-bottom: solid 1px rgba(70, 163, 88, 0.2);
}
.footer_box_3 ul{
    list-style: none;
}

.footer_list{
    height: 174px;
    width: 25%;
}
.footer_list h4{
    position: relative;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
}

.footer_list ul li a{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_proregular';
}
.footer_list ul li a:hover{
    color: #52d312;
    padding-left: 2px;
}
.footer_list .links{
    /*width: 190px;*/
    height: 30px;
    margin-top: 20px;
    margin-bottom: 33px;
   display: inline-block;
}
.footer_list .links a{
    margin-right: 10px;
}
.footer_list .paycard svg{
    width: 224px;
    height: 26px;
    margin-top: 13px;
   /* background: url("Images/Paypal.svg");
    mix-blend-mode: multiply;*/
}
.footer_box_4{
    width: 1200px;

    text-align: center;
    margin: auto;
}
.footer_box_4 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 22px;
    font-family: 'cera_proregular';
}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}




/*Для препроцессора*/
.faq .container .ui-accordion .ui-accordion-header{
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: solid 2px #46A358;
    border-bottom: none;
    &.ui-state-active {
        background-color: antiquewhite;
        border-bottom: none;
        border-radius: 22px 22px 0px 0px;
    }
}
.faq .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{

    border: solid 2px #46A358;
    color: black;
}
.faq .ui-accordion .ui-accordion-content{
    border: solid 2px #46A358;
    border-radius: 22px 22px 0px 0px;
    background-color: antiquewhite;
    overflow: visible;
}


/*Без препроцессора*/
.faq .container {
    max-width: 1200px;
    margin: auto; }
.faq .ui-accordion .ui-accordion-header {
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: solid 2px #46a358; }
.faq .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: antiquewhite;
    border-bottom: none;
    border-radius: 22px 22px 0px 0; }
.faq .ui-state-active, .faq .ui-widget-content .ui-state-active, .faq .ui-widget-header .ui-state-active, .faq a.ui-button:active, .faq .ui-button:active, .faq .ui-button.ui-state-active:hover {
    border: solid 2px #46a358;
    color: black; }
.faq .ui-accordion .ui-accordion-content {
    border: solid 2px #46a358;
    background-color: antiquewhite;
    border-radius: 0px 0 22px 22px;
    overflow: visible;
    border-top: none;
}
