@font-face {
    font-family: 'cera_proregular';
    src: url('../Fonts/cerapro-regular-webfont.eot');
    src: url('../Fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../Fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../Fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../Fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_problack';
    src: url('../Fonts/cerapro-black-webfont.eot');
    src: url('../Fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../Fonts/cerapro-black-webfont.woff') format('woff'),
    url('../Fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../Fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../Fonts/cerapro-medium-webfont.eot');
    src: url('../Fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../Fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../Fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../Fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_probold';
    src: url('../Fonts/cerapro-bold-webfont.eot');
    src: url('../Fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../Fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../Fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../Fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_prolight';
    src: url('../Fonts/cerapro-light-webfont.eot');
    src: url('../Fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/cerapro-light-webfont.woff2') format('woff2'),
    url('../Fonts/cerapro-light-webfont.woff') format('woff'),
    url('../Fonts/cerapro-light-webfont.ttf') format('truetype'),
    url('../Fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40%;
    margin-top: 16px;
    box-sizing: border-box;
}

.conteiner {
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    padding: 52px 100px 50px;
    box-sizing: border-box;
}

#box_model {
    text-align: center;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.conteiner a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 68px;
    margin-top: 15px;
    text-decoration: none;
}

.text_register {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
"
}

.conteiner #box_model span:first-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    border-right: 5px;
    margin: 12px;
}

.conteiner #box_model span:last-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
}

.conteiner #box_model span:nth-child(2) {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-right: 10px;
}

button {
    background: #46a358;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 118px;
    margin-top: 41px;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}

.google-picture {
    padding-right: 10px;
}

.facebook-picture {
    padding-right: 4px;
}

.container {
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 1px grey; /*добавилась линия внизу второго контейнера*/
    display: flex; /*получилось все выровнять только flex*/
    justify-content: space-between;
    margin-bottom: 12px;
}

header {
    padding-top: 31px;

}

header nav, header nav li, header.logo {
    /*display: inline-block;*/
}

header nav li:after {
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;
}

header ul {
    list-style: none;
   display: flex;
    gap: 50px;
    /*margin-bottom: 12px;*/
}

header nav li:hover:after {
    background-color: #46a358;
}

header nav li a {
    text-decoration: none;
}

header .container .logo {
    /* margin-right: 229px;*/
    display: inline-block;
    /*padding-bottom: 12px; /*не выравнивает логотип как надо?*/
}

header .login {
    /*margin-left: 370px;*/
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    /*margin-bottom: 18px;*/
}

header nav li {
    margin-right: 50px;
    /*margin-bottom: 37px;*/

}

header nav li:last-of-type {
    margin-right: 0;

}

header nav li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.login {
    background: #46a358;
    border-radius: 6px;
    /*width: 100px;*/
    padding-right: 17px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-family: 'cera_promedium';
}

.login:before {
    content: "";
    display: inline-block;
    background-image: url("../Images/Logout.svg"); /*появился лишний элемент в картинке?*/
    margin-right: 5px;
    margin-left: 17px;
    height: 18px;
    width: 18px;
}

/*иконки*/


.banner .container {
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

.banner article {
    /*max-width: 557px;*/
    display: inline-block;
    margin-right: 93px;
    padding-left: 43px;
    box-sizing: border-box;
}

article h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 17px;
    font-family: 'cera_promedium';
}

h1 span { /*переносит текст на новую строку??*/
    color: #46a358;

}

.container h1 {
    margin-bottom: 17px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack';
}

.container p {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';
}
/*кнопка*/
.banner .container article a {
    background: #46a358;
    border-radius: 6px;
    /*width: 140px;*/
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'cera_probold';
}

.banner .container img {
    width: 518px;
    height: 470px;
}



/*Секция Категории*/

.categories .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    border-bottom: none;
    align-items: flex-start;
}

/*левое меню*/

.categories .left_sidebar{
    max-width: 310px;
    border-bottom: none;
    background: #fbfbfb;
    margin-top: 27px;
}
.left_sidebar  li{
    list-style: none;

}
.left_sidebar li a{
    text-decoration: none;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 267%;
    font-size: 15px;
    line-height: 267%;
    margin-left: 30px;
    font-family: 'cera_proregular';
}
.list_1{

    list-style: none;
    min-height: 774px;
}
.left_sidebar h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-left: 18px;
    margin-top: 14px;
    margin-bottom: 7px;
    font-family: 'cera_probold';
}
.left_sidebar img{

    margin-left: -30px;
}

/*правое меню*/

.categories .right_content{
    width: 840px;
    margin-top: 27px;
}
.categories .right_content .flex_2 .list_2{
    display: flex;
    justify-content: space-between;
}

.categories .list_2 {
    list-style: none;
}

.categories .right_content .list_2 li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.list_2 li a{
   display: inline;
    margin-right: 37px;
}
.list_2 li:last-of-type {
    margin-right: 0;
}

.list_2 li:after {
    height: 3px;
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 7px;
    transition: 0.3s;

}

/*нижнее подчеркивание списка*/
.list_2 li:hover:after {
   /* background-color: #46a358;*/
    border: 2px solid #46a358;
    width: 65px;
    height: 0px;
}
/*.list_2 li:hover{
    background-color: #46a358;
}*/

.list_2 p{
    font-family: 'cera_proregular';
}

.categories .right_content article{
    width: 258px;

}
.categories .right_content .flex_2 {
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}
.flex_2 article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_proregular';
}
.flex_2 .price{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_probold';
}
/*відступи*/
article img{
    margin-bottom: 24px;
}
.flex_2 article{
    margin-bottom: 70px;
}

/*пеереход по страницам*/
.categories .pagination{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 82px;
    margin-top: 90px;
}
.categories .pagination ul{
    display: flex;
    justify-content: space-between;

}
.categories .pagination ul li{
    list-style: none;
    margin-left: 10px;
}
.pagination .pages a{
    text-decoration: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'cera_prolight';
}
/*Добавление стрелки на кнопку*/
.categories .pagination ul li:last-of-type:hover a svg path{
stroke: white!important;
   /* content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../Images/Right2.svg");*/
}

.categories .pagination ul li:hover{
    background-color: #46a358;
}
.categories .pagination ul li:hover a{
    color:#ffffff;
}
